@model  IEnumerable<TasksERP.TicketsArchive>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="card col-lg-6 grid-margin stretch-card">
                    <div class="card-body">
                        <h4 class="card-title">Address</h4>
                        <p class="card-description">
                            Use
                            <code>&lt;address&gt;</code> tag
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <address>
                                    <p class="font-weight-bold">Star Admin Inc</p>
                                    <p>
                                        695 lsom Ave,
                                    </p>
                                    <p>
                                        Suite 00
                                    </p>
                                    <p>
                                        San Francisco, CA 94107
                                    </p>
                                </address>
                            </div>
                            <div class="col-md-6">
                                <address class="text-primary">
                                    <p class="font-weight-bold">
                                        E-mail
                                    </p>
                                    <p class="mb-2">
                                        johndoe@examplemeail.com
                                    </p>
                                    <p class="font-weight-bold">
                                        Web Address
                                    </p>
                                    <p>
                                        www.staradmin.com
                                    </p>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 grid-margin stretch-card">
                     
                        <div class="card card-body">
                            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                            @*<h4 class="card">Запросы по клиентам</h4>*@
                            <canvas id="doughnutChart" style="height: 182px; display: block; width: 364px;" width="364" height="182" class="chartjs-render-monitor"></canvas>
                        </div>
                    
                </div>
            </div>

                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-7 grid-margin stretch-card">
                        <div class="card card-statistics">
                            <div class="card-body">
                                <div class="clearfix">
                                    <div class="float-left">
                                        <i class="mdi mdi-receipt text-warning icon-lg"></i>
                                    </div>
                                    <div class="float-right">
                                        <p class="mb-0 text-right">New Appraisals</p>
                                        <div class="fluid-container">
                                            <a href="@Url.Action("Main", "IT", new { GetWithStatus = "New" })"><h3 class="font-weight-medium text-right mb-0">@ViewBag.TicketsNew</h3></a>
                                        </div>
                                    </div>
                                </div>
                                @*<p class="text-muted mt-3 mb-0">
                                    <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i>без испольнителя
                                </p>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                        <div class="card card-statistics">
                            <div class="card-body">
                                <div class="clearfix">
                                    <div class="float-left">
                                        <i class="mdi mdi-poll-box text-success icon-lg"></i>
                                    </div>
                                    <div class="float-right">
                                        <p class="mb-0 text-right">Pending Appraisals</p>
                                        <div class="fluid-container">
                                            <a href="@Url.Action("Main", "IT", new { GetWithStatus = "Assigned" })"><h3 class="font-weight-medium text-right mb-0">@ViewBag.TicketsInProgress</h3></a>
                                        </div>
                                    </div>
                                </div>
                                @*<p class="text-muted mt-3 mb-0">
                                    <i class="mdi mdi-calendar mr-1" aria-hidden="true"></i>назначены
                                </p>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                        <div class="card card-statistics">
                            <div class="card-body">
                                <div class="clearfix">
                                    <div class="float-left">
                                        <i class="mdi mdi-account-location text-info icon-lg"></i>
                                    </div>
                                    <div class="float-right">
                                        <p class="mb-0 text-right">Completed Appraisals</p>
                                        <div class="fluid-container">
                                            <a href="@Url.Action("Main", "IT", new { GetWithStatus = "Closed" })"><h3 class="font-weight-medium text-right mb-0">@ViewBag.TicketsClosed</h3></a>
                                        </div>
                                    </div>
                                </div>
                                @*<p class="text-muted mt-3 mb-0">
                                    <i class="mdi mdi-reload mr-1" aria-hidden="true"></i> последняя заявка закрыта сегодня в 10.09
                                </p>*@
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </div>

