@model TasksERP.Models.AllEmployee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AllEmployee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApproveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApproveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssessmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssessmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssessmentPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssessmentPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilingDeadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilingDeadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppraiseeMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppraiseeMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppraiseeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppraiseeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppraiseeMail2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppraiseeMail2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppraiseeName2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppraiseeName2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeniorMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeniorMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeniorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeniorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayrollCaclMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayrollCaclMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayrollCaclComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayrollCaclComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreparationOfTaxReturnMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreparationOfTaxReturnMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreparationOfTaxReturnComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreparationOfTaxReturnComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportingToHeadOfficeMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportingToHeadOfficeMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportingToHeadOfficeComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportingToHeadOfficeComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishSkillsMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishSkillsMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishSkillsComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishSkillsComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultingOfClientsMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultingOfClientsMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultingOfClientsComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultingOfClientsComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpeedOfWorkMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpeedOfWorkMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpeedOfWorkComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpeedOfWorkComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QualityOfWorkMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualityOfWorkMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QualityOfWorkComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualityOfWorkComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplianceWithInternalProceduresMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplianceWithInternalProceduresMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplianceWithInternalProceduresComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplianceWithInternalProceduresComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommunicationWithClientsMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommunicationWithClientsMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommunicationWithClientsComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommunicationWithClientsComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamWorkMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamWorkMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamWorkComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamWorkComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeachingOfSubordinatesMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeachingOfSubordinatesMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeachingOfSubordinatesComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeachingOfSubordinatesComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ControlOfTeamWorkMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControlOfTeamWorkMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ControlOfTeamWorkComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControlOfTeamWorkComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationOfTeamWorkMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationOfTeamWorkMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationOfTeamWorkComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationOfTeamWorkComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProactiveApproachMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProactiveApproachMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProactiveApproachComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProactiveApproachComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultingMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultingMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultingComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultingComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DifficultyOfClientsMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DifficultyOfClientsMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DifficultyOfClientsComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DifficultyOfClientsComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishLanguageMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishLanguageMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishLanguageComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishLanguageComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarkByManager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkByManager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarkByManagerComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkByManagerComments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
