<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tasks Expert ERP</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.addons.css">
    <link rel="stylesheet" href="../../vendors/iconfonts/font-awesome/css/font-awesome.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.0.3/css/buttons.dataTables.min.css">

    
    @*<link rel="stylesheet" type="text/css" href=@Url.Content("~/DataTables/dataTables.css")>
        <link rel="stylesheet" type="text/css" href=@Url.Content("~/DataTables/Buttons-1.6.1/css/buttons.bootstrap4.min.css") />


        <script type="text/javascript" src=@Url.Content("~/DataTables/JSZip-2.5.0/jszip.min.js")></script>
        <script type="text/javascript" src=@Url.Content("~/DataTables/pdfmake-0.1.36/pdfmake.min.js")></script>
        <script type="text/javascript" src=@Url.Content("~/DataTables/pdfmake-0.1.36/vfs_fonts.js")></script>
        <script type="text/javascript" src=@Url.Content("~/DataTables/DataTables-1.10.20/js/jquery.dataTables.min.js")></script>

        <script type="text/javascript" src=@Url.Content("~/DataTables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js")></script>
        <script type="text/javascript" src=@Url.Content("~/DataTables/Buttons-1.6.1/js/dataTables.buttons.min.js")></script>
        <script type="text/javascript" src=@Url.Content("~/DataTables/Buttons-1.6.1/js/buttons.bootstrap4.min.js")></script>
        <script type="text/javascript" src=@Url.Content("~/DataTables/Buttons-1.6.1/js/buttons.flash.min.js")></script>
        <script type="text/javascript" src=@Url.Content("~/DataTables/Buttons-1.6.1/js/buttons.html5.min.js")></script>*@
    @RenderSection("tableScript", required: false)
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href=@Url.Content("~/css/style.css")>
    <!-- endinject -->
    <link rel="shortcut icon" href=@Url.Content("~/images/favicon.png") />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout col-xl-12 col-lg-12 col-md-12 col-sm-6 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                @*<a class="navbar-brand brand-logo" href="index.html">
                        <img src="../../images/logo.svg" alt="logo" />
                    </a>*@
                <a class="navbar-brand brand-logo-mini" href="index.html">
                    <img src="../../images/logo-mini.svg" alt="logo" />
                </a>
            </div>

            <div class="navbar-menu-wrapper d-flex align-items-center ">
                <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
                    @{var urlPath = HttpContext.Current.Request.Url.AbsoluteUri; }

                    @{

                        <li id="1" class="nav-item @(urlPath.Contains("Bookkeeper")   ? "active": "")">
                            <a href='@Url.Action("Index", "AssessmentStatistics", new { fstatus = "Bookkeeper" })' class="nav-link">
                                <i class="mdi mdi-elevation-rise"></i>Bookkeeper
                            </a>
                        </li>
                        <li id="1" class="nav-item @(urlPath.Contains("Consultant") && !urlPath.Contains("Senior") ? "active": "")">
                            <a href='@Url.Action("Index", "AssessmentStatistics", new { fstatus = "Consultant" })' class="nav-link">
                                <i class="mdi mdi-elevation-rise"></i>Consultant
                            </a>
                        </li>

                        <li id="1" class="nav-item @(urlPath.Contains("Senior Consultant") ? "active": "")">
                            <a href='@Url.Action("Index", "AssessmentStatistics", new { fstatus = "Senior Consultant" })' class="nav-link">
                                <i class="mdi mdi-elevation-rise"></i>Senior Consultant
                            </a>
                        </li>
                        <li id="1" class="nav-item @(urlPath.Contains("Payroll") ? "active": "")">
                            <a href='@Url.Action("Index", "AssessmentStatistics", new { fstatus = "Payroll" })' class="nav-link">
                                <i class="mdi mdi-elevation-rise"></i>Payroll
                            </a>
                        </li>


                        if (urlPath.Contains("Home"))
                        {
                            <li id="3" class="nav-item active">
                                <a href="@Url.Action("Index", "Home")" class="nav-link">
                                    <i class="mdi mdi-home"></i>Audit Demo
                                </a>
                            </li>
                        }
                        else
                        {
                            <li id="3" class="nav-item">
                                <a href="@Url.Action("Index", "Home")" class="nav-link">
                                    <i class="mdi mdi-home"></i>Audit Demo
                                </a>
                            </li>
                        }
                        @*if (urlPath.Contains("HR"))
                            {
                                <li id="3" class="nav-item active">
                                    <a href="@Url.Action("Main", "HR")" class="nav-link">
                                        <i class="mdi mdi-human"></i>Кадры
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li id="3" class="nav-item">
                                    <a href="@Url.Action("Main", "HR")" class="nav-link">
                                        <i class="mdi mdi-human"></i>Кадры
                                    </a>
                                </li>
                            }*@
                        @*if (urlPath.Contains("IT"))
                            {
                                <li id="4" class="nav-item active">
                                    <a href=@Url.Action("Main", "IT") class="nav-link">
                                        <i class="mdi mdi-information"></i>IT Helpdesk
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li id="4" class="nav-item">
                                    <a href=@Url.Action("Main", "IT") class="nav-link">
                                        <i class="mdi mdi-information"></i>IT Helpdesk
                                    </a>
                                </li>
                            }*@

                    }

                </ul>

                <ul class="navbar-nav navbar-nav-right">

                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-file-document-box"></i>
                            <span class="count">7</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                            <div class="dropdown-item">
                                <p class="mb-0 font-weight-normal float-left">
                                    7 новых сообщений
                                </p>
                                <span class="badge badge-info badge-pill float-right">Открыть все</span>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="../../images/faces/face4.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-medium text-dark">
                                        Давид Горнов
                                        <span class="float-right font-weight-light small-text">1 мин. назад</span>
                                    </h6>
                                    <p class="font-weight-light small-text">
                                        Заявление на отпуск: 27/05/19-10/06/19
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="../../images/faces/face2.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-medium text-dark">
                                        Галина Ли
                                        <span class="float-right font-weight-light small-text">15 мин. назад</span>
                                    </h6>
                                    <p class="font-weight-light small-text">
                                        Положение о закупках - 2019. Ждем Ваше одобрение.
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="../../images/faces/face3.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-medium text-dark">
                                        Крис Вандельберг
                                        <span class="float-right font-weight-light small-text">18 ч. назад </span>
                                    </h6>
                                    <p class="font-weight-light small-text">
                                        Договор с АО "ГринАтом". Ждем Вашей подписи.
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    @*ViewBag.img  src="../../images/faces/face1.jpg"*@
                    <li class="nav-item dropdown d-none d-xl-inline-block">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            @*<span class="profile-text">@ViewBag.UserName </span>*@
                            @*<img class="img-xs rounded-circle" src=@ViewBag.PhotoUrl alt="Profile image">*@
                            <img class="img-xs rounded-circle" src=@Url.Content("~/images/faces/face1.jpg") alt="profile image">

                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                            <a class="dropdown-item p-0">
                                <div class="d-flex border-bottom">
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                                        <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                                    </div>
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                                        <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                                    </div>
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                                        <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item mt-2">
                                Настройки
                            </a>
                            <a class="dropdown-item">
                                Письмо в тех.поддержку
                            </a>
                            <a class="dropdown-item" onclick="location.href='@Url.Action("Exit", "Home")'">
                                Выйти
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <div class="nav-link">
                            <div class="user-wrapper">
                                <div class="profile-image">
                                    @*<img src=@ViewBag.PhotoUrl alt="profile image">*@
                                    <img src=@Url.Content("~/images/faces/face1.jpg") alt="profile image">
                                </div>
                                <div class="text-wrapper">
                                    <p class="profile-name">@ViewBag.UserName</p>
                                    <div>
                                        <small class="designation text-muted">@ViewBag.JobTitle</small>
                                        <span class="status-indicator online"></span>
                                        <hr />
                                        @*<small class="designation text-behance">Остаток отпуска: 14 дней</small>*@
                                    </div>
                                    <p class="profile-name">@ViewBag.Department</p>
                                </div>
                            </div>
                            @*<button class="btn btn-success btn-block" onclick="location.href='@Url.Action("NewTask", "Home")'">
                                    Заявление на отпуск
                                    <i class="mdi mdi-plus"></i>
                                </button>
                                <button class="btn btn-success btn-block" onclick="location.href='@Url.Action("NewTask", "Home")'">
                                    Запрос в ИТ
                                    <i class="mdi mdi-plus"></i>
                                </button>*@
                        </div>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" href="@Url.Action("NewTaskHR", "HR")">
                                <i class="menu-icon mdi mdi-beach"></i>
                                <span class="menu-title">New Appraisal</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("NewTaskHR", "HR")">
                                <i class="menu-icon mdi mdi-beach"></i>
                                <span class="menu-title">Pending Appraisals</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("NewTaskHR", "HR")">
                                <i class="menu-icon mdi mdi-beach"></i>
                                <span class="menu-title">Completed Appraisals</span>
                            </a>
                        </li>*@
                    @*@{ if (urlPath.Contains("NewTaskHR") && urlPath.Contains("HR"))
                        {
                            <li class="nav-item active">
                                <a class="nav-link" href="@Url.Action("NewTaskHR", "HR")">
                                    <i class="menu-icon mdi mdi-beach"></i>
                                    <span class="menu-title">Заявление на отпуск</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("NewTaskHR", "HR")">
                                    <i class="menu-icon mdi mdi-beach"></i>
                                    <span class="menu-title">Заявление на отпуск</span>
                                </a>
                            </li>
                        }
                        if (urlPath.Contains("NewTaskSickLeave") && urlPath.Contains("HR"))
                        {
                            <li class="nav-item active">
                                <a class="nav-link" href="@Url.Action("NewTaskSickLeave", "HR")">
                                    <i class="menu-icon mdi mdi-medical-bag"></i>
                                    <span class="menu-title">Больничный</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("NewTaskSickLeave", "HR")">
                                    <i class="menu-icon mdi mdi-medical-bag"></i>
                                    <span class="menu-title">Больничный</span>
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <hr />
                        </li>
                        if (urlPath.Contains("NewTaskIT") && urlPath.Contains("IT"))
                        {
                            <li class="nav-item active">
                                <a class="nav-link" href="@Url.Action("NewTaskIT", "IT")">
                                    <i class="menu-icon mdi mdi-spotify"></i>
                                    <span class="menu-title">Обратиться в ИТ</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("NewTaskIT", "IT")">
                                    <i class="menu-icon mdi mdi-spotify"></i>
                                    <span class="menu-title">Обратиться в ИТ</span>
                                </a>
                            </li>
                        } }*@

                </ul>
            </nav>
            @RenderBody()

        </div>
    </div>
    <!--container - scroller-- >
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>
    @*<script>
            (function ($) {
                $.fn.drags = function (opt) {

                    opt = $.extend({ handle: "", cursor: "move" }, opt);

                    if (opt.handle === "") {
                        var $el = this;
                    } else {
                        var $el = this.find(opt.handle);
                    }

                    return $el.css('cursor', opt.cursor).on("mousedown", function (e) {
                        if (opt.handle === "") {
                            var $drag = $(this).addClass('draggable');
                        } else {
                            var $drag = $(this).addClass('active-handle').parent().addClass('draggable');
                        }
                        var z_idx = $drag.css('z-index'),
                            drg_h = $drag.outerHeight(),
                            drg_w = $drag.outerWidth(),
                            pos_y = $drag.offset().top + drg_h - e.pageY,
                            pos_x = $drag.offset().left + drg_w - e.pageX;
                        $drag.css('z-index', 1000).parents().on("mousemove", function (e) {
                            $('.draggable').offset({
                                top: e.pageY + pos_y - drg_h,
                                left: e.pageX + pos_x - drg_w
                            }).on("mouseup", function () {
                                $(this).removeClass('draggable').css('z-index', z_idx);
                            });
                        });
                        e.preventDefault(); // disable selection
                    }).on("mouseup", function () {
                        if (opt.handle === "") {
                            $(this).removeClass('draggable');
                        } else {
                            $(this).removeClass('active-handle').parent().removeClass('draggable');
                        }
                    });

                }
            })(jQuery);

            $('.card').drags();
        </script>*@
    <script src=@Url.Content("~/vendors/js/vendor.bundle.base.js")></script>
    <script src=@Url.Content("~/vendors/js/vendor.bundle.addons.js")></script>
    <!-- endinject -->
    <script src="https://cdn.flexmonster.com/flexmonster.js"></script>
    <script src="https://cdn.flexmonster.com/lib/flexmonster.fusioncharts.js"></script>
    <script src="https://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.0.3/js/dataTables.buttons.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.0.3/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.0.3/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>

    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.0.3/js/buttons.html5.min.js"></script>
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src=@Url.Content("~/js/off-canvas.js")></script>
    <script src=@Url.Content("~/js/misc.js")></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src=@Url.Content("~/js/dashboard.js")></script>
    <script src=@Url.Content("~/js/chart.js")></script>
    @*<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>*@
    <script src=@Url.Content("~/js/Chart.min.js")></script>
    <script src=@Url.Content("~/js/utils.js")></script>
    <!-- End custom js for this page-->
    @RenderSection("chartScript", required: false)


</body>
</html>
