@model  TasksERP.Models.Tickets
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <h4 class="card-title text-primary mr-1 mb-0">[#@Model.Id] @Model.Subject</h4>
                    <hr />
                    <form class="form-sample">
                        <p class="text-dark font-weight-semibold mr-2 mb-0 no-wrap">@Model.Owner</p>
                        <a class="d-flex">
                            <p class="text-primary mr-1 mb-0"><b>Статус заявки:</b> <i> @Model.Status.ToLower()</i></p>

                            @if (Model.Status.ToLower() == "new" || Model.Status.ToLower() == "in progress")
                            {
                                <p class="text-dark font-weight-semibold mr-2 mb-0 no-wrap"> Исполнитель: @Model.AssignedTo</p>
                                <p class="mb-0 ellipsis">Дата назначения: @Model.AssignmentDate</p>
                            }
                            else if (Model.Status.ToLower() == "closed")
                            {
                                <p class="mb-0 ellipsis">  @Model.ClosureDate</p>
                            }
                        </a>
                    
                        <div class="form-group">
                            
                            <p class="text-gray ellipsis mb-2"></p>
                            <p class="card-description">
                                @Model.Description
                            </p>

                        </div>
                        <div class="form-group">
                            <div class="card-body">
                                <h4 class="card-title">Комментарий</h4>
                                <div class="media">
                                    <div class="media-body">
                                        <p class="card-text"></p>
                                        @Html.Raw(Model.Comment)
                                    </div>
                                </div>
                            </div>
                            @Html.TextAreaFor(model => model.Notes1, new { @class = "form-control", rows = "2", id = "exampleTextarea1" })
                        </div>

                        <button type="submit" class="btn btn-success mr-xl-5">Отправить</button>
                        <button class="btn btn-light" onclick="location.href='@Url.Action("Main", "Home")'">Отменить</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
