@model  IEnumerable<TasksERP.Models.TicketsHR>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-panel">
    <div class="content-wrapper">

        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i class="mdi mdi-cube text-danger icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Заявлений</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0">@ViewBag.TicketsTotal</h3>
                                </div>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i>все заявления на @DateTime.Now.ToString("dd.MM.yyyy")
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i class="mdi mdi-receipt text-warning icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Новых</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0">@ViewBag.TicketsNew</h3>
                                </div>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i>без исполнителя
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i class="mdi mdi-poll-box text-success icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">В работе</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0">@ViewBag.TicketsInProgress</h3>
                                </div>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <i class="mdi mdi-calendar mr-1" aria-hidden="true"></i>назначен исполнитель
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i class="mdi mdi-account-location text-info icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Подписан приказ</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0">@ViewBag.TicketsClosed</h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-text">Список заявлений</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> ID </th>
                                        <th> Отправитель</th>
                                        <th> Вид отсутствия </th>
                                        <th> Статус </th>
                                        <th> Дата создания </th>
                                        <th> Период отсутствия </th>
                                        <th> Кал.дней </th>
                                        <th> Раб.дней </th>
                                        <th> Примечание </th>
                                        <th> Действия </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var rec in Model)
                                    {
                                        <tr>
                                            <td>
                                                #@rec.Id
                                            </td>
                                            <td>
                                                <img src="../../images/faces/face1.jpg" class="mr-2" alt="image"> @rec.Owner
                                            </td>
                                            <td> @rec.Subject </td>
                                            <td>
                                                @{if (rec.Status.ToLower().Contains("new"))
                                                    {
                                                        <label class="badge badge-gradient-warning">@rec.Status</label>
                                                    }
                                                    else if (rec.Status.ToLower().Contains("closed"))
                                                    {
                                                        <label class="badge badge-gradient-success">@rec.Status</label>
                                                    }
                                                    else
                                                    {
                                                        <label class="badge badge-gradient-info">@rec.Status</label>
                                                    }
                                                }
                                            </td>
                                            <td> @rec.CreationDate </td>
                                            <td> @rec.StartingDate - @rec.EndingDate </td>

                                            @{
                                                DateTime sDate = DateTime.ParseExact(rec.StartingDate, "dd'.'MM'.'yyyy", new System.Globalization.CultureInfo("ru-RU"));
                                                DateTime eDate = DateTime.ParseExact(rec.EndingDate, "dd'.'MM'.'yyyy", new System.Globalization.CultureInfo("ru-RU"));
                                                <td> @eDate.Subtract(sDate).Days </td>
                                            }

                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div class="btn-group dropdown">
                                                    <button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Действия
                                                    </button>
                                                    <div class="dropdown-menu">
                                                         
                                                        @if (rec.Status == "New")
                                                        {
                                                            <a class="dropdown-item" href="@Url.Action("GetTicket","HR", new { id = rec.Id })">
                                                                <i class="fa fa-history fa-fw"></i>Взять заявку
                                                            </a>
                                                        }
                                                        <div class="dropdown-divider"></div>
                                                         
                                                        @if (rec.Status != "Closed")
                                                        {
                                                            <a class="dropdown-item" href="@Url.Action("Close","HR", new { id = rec.Id })">
                                                                <i class="fa fa-times text-danger fa-fw"></i>Закрыть
                                                            </a>}
                                                        <a class="dropdown-item" href="@Url.Action("Delete","HR", new { id = rec.Id })">
                                                            <i class="fa fa-times text-danger fa-fw"></i>Удалить
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


